In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
%matplotlib inline

In [2]:
training_labels = pd.read_csv("labels_training_set.csv", low_memory=False)
labels_predict = pd.read_csv("trocafone_kaggle_test.csv", low_memory=False)
features = pd.read_csv('data_set.csv', low_memory = False)

In [3]:
print(training_labels.shape)
training_labels = pd.merge(features, training_labels, on='person', how='inner')
print(training_labels.shape)
training_labels.head(2)

(19414, 2)
(19414, 54)

,person,Direct,Email,Organic,Paid,Referral,Social,ad campaign hit,brand listing,checkout,...,city_ranking,most_frequent_model,is_most_frequent_model_top,os,ranking_os_conversion,ranking_os_no_conversion,browser,ranking_browser_conversion,ranking_browser_no_conversion,label
0,0008ed71,2.0,0.0,0.0,0.0,0.0,0.0,0,0,3,...,NaN,14.0,0.0,73.0,130.0,130.0,75.0,366.0,366.0,0
1,000c79fe,0.0,0.0,0.0,0.0,0.0,0.0,1,0,1,...,0.144715,168.0,1.0,24.0,128.0,129.0,120.0,365.0,365.0,0

In [4]:
print(labels_predict.shape)
labels_predict = pd.merge(features, labels_predict, on='person', how='inner')
print(labels_predict.shape)
labels_predict.head(2)

(19415, 1)
(19415, 53)

,person,Direct,Email,Organic,Paid,Referral,Social,ad campaign hit,brand listing,checkout,...,city,city_ranking,most_frequent_model,is_most_frequent_model_top,os,ranking_os_conversion,ranking_os_no_conversion,browser,ranking_browser_conversion,ranking_browser_no_conversion
0,00091926,1.0,0.0,25.0,0.0,0.0,0.0,15,25,2,...,397.0,0.000000,166.0,1.0,74.0,131.0,131.0,75.0,366.0,366.0
1,00091a7a,0.0,0.0,0.0,0.0,0.0,0.0,1,5,0,...,1539.0,0.135813,164.0,1.0,20.0,125.0,126.0,97.0,352.5,351.0

In [5]:
labels = training_labels['label']
features = training_labels.drop(['label','person'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.1)
print("Train: ",len(x_train),"Test: ",len(x_test))

Train:  17472 Test:  1942

In [9]:
x_train = x_train.fillna(value=0).astype("float")
x_test = x_train.fillna(value=0).astype("float")

## Classification and Regression Trees

In [6]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
set_test = labels_predict
personas = set_test["person"]
set_test = set_test.drop(columns=['person'])
set_test = set_test.fillna(0)

In [ ]:
preds_kaggel_knn = model.predict_proba(set_test)

In [ ]:
df_kaggel_knn = pd.DataFrame(preds_kaggel_knn)
df_kaggel_knn.info()

In [ ]:
df_kaggel_knn = pd.DataFrame(df_kaggel_knn[1])

In [ ]:
df_kaggel_knn["person"] = personas
df_kaggel_knn.rename(columns = {1: 'label'},inplace = True) 
df_kaggel_knn = df_kaggel_knn[['person','label']]

In [ ]:
df_kaggel_knn.head()

In [ ]:
df_kaggel_knn.to_csv('ResultadosCART.csv',index=False)

In [ ]:
df_kaggel_knn