In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
%matplotlib inline

In [2]:
training_labels = pd.read_csv("labels_training_set.csv", low_memory=False)
labels_predict = pd.read_csv("trocafone_kaggle_test.csv", low_memory=False)
features = pd.read_csv('data_set.csv', low_memory = False)

In [3]:
print(training_labels.shape)
training_labels = pd.merge(features, training_labels, on='person', how='inner')
print(training_labels.shape)
training_labels.head(2)

(19414, 2)
(19414, 216)

,person,Direct,Email,Organic,Paid,Referral,Social,ad campaign hit,brand listing,checkout,...,minimo,suma_resolution,promedio_resolution,maximo_resolution,minimo_resolution,promedio de TFIdf modelo,Suma de TFidf modelo,Maximo de TFIdf modelo,Minimo de TFIdf modelo,label
0,0008ed71,2.0,0.0,0.0,0.0,0.0,0.0,0,0,3,...,20180517122747,4147200,691200.000000,2073600,0,1.617163,4.851488,1.859879,1.300103,0
1,000c79fe,0.0,0.0,0.0,0.0,0.0,0.0,1,0,1,...,20180529002747,230400,13552.941176,230400,0,1.000000,4.000000,1.000000,1.000000,0

In [4]:
print(labels_predict.shape)
labels_predict = pd.merge(features, labels_predict, on='person', how='inner')
print(labels_predict.shape)
labels_predict.head(2)

(19415, 1)
(19415, 215)

,person,Direct,Email,Organic,Paid,Referral,Social,ad campaign hit,brand listing,checkout,...,maximo,minimo,suma_resolution,promedio_resolution,maximo_resolution,minimo_resolution,promedio de TFIdf modelo,Suma de TFidf modelo,Maximo de TFIdf modelo,Minimo de TFIdf modelo
0,00091926,1.0,0.0,25.0,0.0,0.0,0.0,15,25,2,...,20180531195203,20180503220829,26738688,59684.571429,786432,0,1.490856,557.580165,2.209395,1.0
1,00091a7a,0.0,0.0,0.0,0.0,0.0,0.0,1,5,0,...,20180326145658,20180326145111,230400,23040.000000,230400,0,1.219303,3.657909,1.357806,1.0

In [5]:
labels = training_labels['label']
features = training_labels.drop(['label','person'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.1)
print("Train: ",len(x_train),"Test: ",len(x_test))

Train:  17472 Test:  1942

In [6]:
x_train = x_train.fillna(value=0).astype("float")
x_test = x_train.fillna(value=0).astype("float")

## Classification and Regression Trees

In [7]:
model = DecisionTreeClassifier(min_samples_leaf=10)
model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [8]:
set_test = labels_predict
personas = set_test["person"]
set_test = set_test.drop(columns=['person'])
set_test = set_test.fillna(0)

In [9]:
preds_kaggel_knn = model.predict_proba(set_test)

In [10]:
df_kaggel_knn = pd.DataFrame(preds_kaggel_knn)
df_kaggel_knn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19415 entries, 0 to 19414
Data columns (total 2 columns):
0    19415 non-null float64
1    19415 non-null float64
dtypes: float64(2)
memory usage: 303.4 KB

In [11]:
df_kaggel_knn = pd.DataFrame(df_kaggel_knn[1])

In [12]:
df_kaggel_knn["person"] = personas
df_kaggel_knn.rename(columns = {1: 'label'},inplace = True) 
df_kaggel_knn = df_kaggel_knn[['person','label']]

In [13]:
df_kaggel_knn.head()

     person  label
0  00091926    0.0
1  00091a7a    0.1
2  000ba417    0.0
3  000e4d9e    0.0
4  000e619d    0.0

In [14]:
df_kaggel_knn.to_csv('ResultadosCART.csv',index=False)

In [15]:
df_kaggel_knn.label.value_counts()

0.000000    16140
0.100000      595
0.200000      370
0.300000      218
0.500000      156
0.333333      118
0.400000      113
0.166667       78
0.142857       74
0.090909       70
0.600000       63
0.272727       56
0.307692       56
1.000000       56
0.157895       48
0.285714       47
0.266667       45
0.071429       44
0.473684       42
0.615385       42
0.700000       42
0.181818       42
0.235294       40
0.900000       37
0.153846       36
0.230769       35
0.133333       34
0.666667       33
0.636364       32
0.411765       32
            ...
0.250000       28
0.187500       27
0.176471       26
0.857143       26
0.583333       23
0.416667       23
0.083333       23
0.571429       22
0.933333       22
0.454545       21
0.647059       20
0.916667       20
0.466667       20
0.444444       20
0.210526       19
0.066667       19
0.357143       19
0.733333       18
0.461538       17
0.388889       17
0.363636       14
0.222222       13
0.125000       12
0.062500       12
0.727273       10
0.923077       10
0.625000        9
0.117647        7
0.909091        7
0.818182        7
Name: label, Length: 63, dtype: int64