In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [2]:
events = utils.get_events()
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,month,day,hora
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0

In [3]:
events = events.sort_values(by='timestamp')
events['timestamp_anterior'] = events.groupby('person')['timestamp'].shift()
events['start_session'] = ((events['timestamp'] - events['timestamp_anterior']) >= timedelta(minutes=60)) | events['timestamp_anterior'].isnull()
events['start_session'] = events['start_session'].astype(int)

In [4]:
events[['start_session', 'timestamp', 'timestamp_anterior', 'person']].head()

         start_session           timestamp  timestamp_anterior    person
2307205              1 2018-01-01 08:09:31                 NaT  0f4e2a4b
1753202              0 2018-01-01 08:09:31 2018-01-01 08:09:31  0f4e2a4b
1753201              0 2018-01-01 08:09:31 2018-01-01 08:09:31  0f4e2a4b
1753200              0 2018-01-01 08:09:44 2018-01-01 08:09:31  0f4e2a4b
1753207              0 2018-01-01 08:45:29 2018-01-01 08:09:44  0f4e2a4b

In [5]:
events['session_num'] = events.groupby('person')['start_session'].cumsum()
events['session_id'] = events['session_num'].astype(str) + '-' + events['person']

In [6]:
campaign_events = events[events['event']=='ad campaign hit'][['timestamp', 'event', 'person', 'url',
       'campaign_source', 'day', 'month', 'timestamp_anterior', 'start_session', 'session_num', 'session_id']]
campaign_events['ads_accion'] = campaign_events['url'].str.split('/').str[1]
campaign_events['ads_marca'] = campaign_events['url'].str.split('/').str[2]
campaign_events['ads_modelo'] = campaign_events['url'].str.split('/').str[3]

In [7]:
## source
campaign_data = campaign_events[campaign_events['campaign_source'].notnull()]
campaign_data = campaign_data[['person', 'campaign_source', 'timestamp']].pivot_table(index='person', columns='campaign_source', values='timestamp', aggfunc='count', fill_value=0)
campaign_data.columns = campaign_data.columns.astype('object')
campaign_data.reset_index(inplace=True)
campaign_data.columns = ['campaign-source_'+col if col != 'person' else col for col in campaign_data.columns]
data = campaign_data.fillna(0)
campaign_data.shape

(31887, 24)

In [8]:
## marca
campaign_data = campaign_events[campaign_events['ads_marca'].notnull()]
campaign_data = campaign_events[['person', 'ads_marca', 'timestamp']].pivot_table(index='person', columns='ads_marca', values='timestamp', aggfunc='count', fill_value=0)
campaign_data.columns = campaign_data.columns.astype('object')
campaign_data.reset_index(inplace=True)
campaign_data.columns = ['campaign-marca_'+col if col != 'person' else col for col in campaign_data.columns]
data  = pd.merge(data, campaign_data, on='person', how='left').fillna(0)
data.head()

,person,campaign-source_Facebook,campaign-source_FacebookAds,campaign-source_FacebookSocial,campaign-source_MARKETING SOCIAL,campaign-source_afiliado,campaign-source_afilio,campaign-source_bing,campaign-source_blog,campaign-source_buscape,...,campaign-marca_iphone,campaign-marca_lenovo,campaign-marca_lg,campaign-marca_list,campaign-marca_motorola,campaign-marca_nokia,campaign-marca_ofertas,campaign-marca_quantum,campaign-marca_samsung,campaign-marca_sony
0,00091926,0,0,0,0,0,0,0,0,0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
1,00091a7a,0,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000ba417,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,000c79fe,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000e4d9e,0,0,0,0,0,4,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0

In [9]:
data.shape

(31887, 38)

In [10]:
data.to_csv('features_ad_campaing.csv',index=False)