In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils

In [3]:
events = utils.get_events()
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,month,day,hora
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0

In [4]:
events['marca'] = pd.Categorical(events['model'].str.split(' ').str[0])
events['modelo'] = events['model'].str.split(' ').str[1:].str.join(' ')
events[['marca', 'modelo']].head()

     marca           modelo
0  Samsung  Galaxy J7 Prime
1   iPhone               5s
2   iPhone               6S
3   iPhone                7
4       LG         G4 H818P

In [8]:
features = events['person']
features = pd.concat([features, pd.get_dummies(events['storage'], prefix='storage')], axis=1)
features = pd.concat([features, pd.get_dummies(events['condition'], prefix='condition')], axis=1)
features = pd.concat([features, pd.get_dummies(events['marca'], prefix='marca')], axis=1)
features = pd.concat([features, pd.get_dummies(events['color'], prefix='color')], axis=1)
features.columns

Index(['person', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB', 'condition_Bom', 'condition_Bom - Sem Touch ID',
       'condition_Excelente', 'condition_Muito Bom', 'condition_Novo',
       'marca_Asus', 'marca_LG', 'marca_Lenovo', 'marca_Motorola',
       'marca_Outros', 'marca_Quantum', 'marca_Samsung', 'marca_Sony',
       'marca_Xiaomi', 'marca_iPad', 'marca_iPhone', 'color_Amarelo',
       'color_Ametista', 'color_Azul', 'color_Azul Escuro',
       'color_Azul Safira', 'color_Azul Topázio', 'color_Bambu',
       'color_Black Piano', 'color_Branco', 'color_Branco Azul',
       'color_Branco Azul Navy', 'color_Branco Bambu', 'color_Branco Cabernet',
       'color_Branco Dourado', 'color_Branco Framboesa', 'color_Branco Pink',
       'color_Branco Verde', 'color_Branco Vermelho', 'color_Cabernet',
       'color_Cinza', 'color_Cinza espacial', 'color_Cobre', 'color_Coral',
       'color_Couro Marrom', 'color_Couro Navy', 'color_Couro Vinho',
       'color_Couro Vintage', 'color_Cromo', 'color_Dourado',
       'color_Framboesa', 'color_Indigo', 'color_Iuna',
       'color_Olympic Edition', 'color_Ouro', 'color_Ouro Rosa',
       'color_Platinum', 'color_Prata', 'color_Prateado', 'color_Preto',
       'color_Preto Asfalto', 'color_Preto Azul', 'color_Preto Azul Navy',
       'color_Preto Bambu', 'color_Preto Branco', 'color_Preto Brilhante',
       'color_Preto Cabernet', 'color_Preto Matte', 'color_Preto Pink',
       'color_Preto Tabaco', 'color_Preto Verde', 'color_Preto Vermelho',
       'color_Rosa', 'color_Rose', 'color_Rouge', 'color_Roxo', 'color_Silver',
       'color_Titânio', 'color_Turquesa', 'color_Verde',
       'color_Verde Petroleo', 'color_Verde Água', 'color_Vermelho',
       'color_Ônix'],
      dtype='object')

In [9]:
features = features.groupby('person').sum()

In [10]:
features = features.reset_index()
features.shape

(38829, 88)

In [14]:
features.to_csv('features_caracteristicas_vistos.csv', index = False)