In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils

In [2]:
events = utils.get_events()

In [3]:
events.head(1)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,month,day,hora
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0

## Busco location de usuarios

In [5]:
con_city = events.loc[events.city != 'Unknown']

In [6]:
agrupadas = events.groupby(['person']).city.value_counts()

In [7]:
unstacked = agrupadas.unstack(fill_value=0)
unstacked.head(1)

city,Abadiania,Abaete,Abaetetuba,Abelardo Luz,Abrantes,Abreu e Lima,Acailandia,Acajutiba,Acarau,Acopiara,...,Woodbridge,Wrexham,Xambioa,Xanxere,Xavantina,Xaxim,Xexeu,Xinguara,Yellowknife,Ze Doca
person,,,,,,,,,,,,,,,,,,,,,
0008ed71,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
feature_location = unstacked.idxmax(axis=1)
feature_location.head()

person
0008ed71                Unknown
00091926         Carlos Barbosa
00091a7a               Salvador
000ba417    Rio Grande da Serra
000c79fe         Belo Horizonte
dtype: object

In [35]:
feature_location.describe()

count         33156
unique         1941
top       São Paulo
freq           5419
dtype: object

In [38]:
person_con_location = feature_location.count()
person_totales = events.person.nunique()
print("Hay {} de {} personas con location asignado".format(person_con_location,person_totales))

Hay 33156 de 38829 personas con location asignado

### Agrego a events la info de city para todas estas personas que encontré

In [91]:
events.city = df.person.map(feature_location)

#### Selecciono los conversion por city

In [94]:
conversion = events.loc[events.event == 'conversion']

In [107]:
print("Conversiones por ciudad:")
conversion.city.value_counts().head()

Conversiones por ciudad:

São Paulo         1202
Salvador           313
Rio de Janeiro     305
Belo Horizonte     280
Brasília           130
Name: city, dtype: int64

In [108]:
print("Cantidad de usuarios únicos por ciudad:")
unique_person_per_city = events.groupby(['city']).agg({'person':'nunique'})
unique_person_per_city.sort_values(by='person',ascending=False).head()

Cantidad de usuarios únicos por ciudad:

                person
city
São Paulo         5419
Rio de Janeiro    1763
Belo Horizonte    1230
Salvador          1156
Brasília           762

#### Agrego un feature relación de conversion/usuarios para cada location

In [153]:
test = unique_person_per_city.unstack().reset_index().drop(labels='level_0',axis=1)
test.index=test.city
test = test.drop(labels='city', axis=1)
test.columns=['users']
test.head()

              users
city
Abadiania         1
Abaete            1
Abaetetuba        3
Abelardo Luz      2
Abrantes          2

In [167]:
conversion['city'] = conversion.index
test['conversions'] = test.index.map(conversion.city)
test.head(50)

C:\Users\dev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                       users  conversions
city
Abadiania                  1          NaN
Abaete                     1          NaN
Abaetetuba                 3          NaN
Abelardo Luz               2          NaN
Abrantes                   2          NaN
Abreu e Lima              23          NaN
Acailandia                21          NaN
Acajutiba                  3          NaN
Acarau                     6          NaN
Acu                        3          NaN
Adamantina                 7          NaN
Adolfo                     2          NaN
Adustina                   3          NaN
Afogados da Ingazeira     15          NaN
Afonso Claudio             2          NaN
Agrestina                  1          NaN
Agrolandia                 1          NaN
Agronomica                 1          NaN
Agua Boa                   5          NaN
Agua Branca                4          NaN
Agua Doce                  4          NaN
Aguas Belas               10          NaN
Aguas Lindas               1          NaN
Aguas de Chapeco          18          NaN
Agudos                     1          NaN
Aguiar                     2          NaN
Aiuaba                     3          NaN
Aiuruoca                   1          NaN
Ajapi                      1          NaN
Alagoa Grande              4          NaN
Alagoa Nova                2          NaN
Alagoinhas                33          NaN
Alambari                   1          NaN
Alameda                    5          NaN
Alcobaca                   4          NaN
Aldeia Amanajas Tauai     14          NaN
Alegre                     2          NaN
Alegrete                   4          NaN
Alem Paraiba               7          NaN
Alexandria                 1          NaN
Alexania                   1          NaN
Alfenas                   11          NaN
Alfredo Chaves             5          NaN
Alfredo Wagner             1          NaN
Alianca                    3          NaN
Almenara                   5          NaN
Almirante Tamandare       10          NaN
Alpinopolis                3          NaN
Alta Floresta              5          NaN
Altamira                  23          NaN

Index([0], dtype='object')