In [6]:
# imports iniciales
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import calendar
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [7]:
events = utils.get_events()
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,month,day,hora
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,18,0

In [8]:
# agrego columnas para segmentar el tiempo 
events.timestamp = pd.to_datetime(events['timestamp'],format='%Y-%m-%d %H:%M:%S')
events['month'] = events.timestamp.dt.month
events['day'] = events.timestamp.dt.day
events['hour'] = events.timestamp.dt.hour
events['weekday name'] = events.timestamp.dt.weekday_name
events[['person','timestamp','month','day','hour','weekday name']].head()

     person           timestamp  month  day  hour weekday name
0  4886f805 2018-05-18 00:11:59      5   18     0       Friday
1  ad93850f 2018-05-18 00:11:27      5   18     0       Friday
2  0297fc1e 2018-05-18 00:11:16      5   18     0       Friday
3  2d681dd8 2018-05-18 00:11:14      5   18     0       Friday
4  cccea85e 2018-05-18 00:11:09      5   18     0       Friday

In [9]:
## 1 si es fin de semana 0 si es dia de semana
events['weekend'] = (events['weekday name'] == 'Saturday') | (events['weekday name'] == 'Sunday')
events['weekend'] = events['weekend'].astype(int)

In [10]:
## paso el mes a nombre
events['month'] = events['month'].apply(lambda x: calendar.month_abbr[x])

In [11]:
def periodioDia(hora):
    if (hora >= 0) & (hora < 7):
        return 'madrugada'
    elif (hora >= 7) & (hora < 12):
        return 'manana'
    elif (hora >= 12) & (hora < 15):
        return 'mediodia'
    elif (hora >= 15) & (hora < 20):
        return 'tarde'
    return 'noche'

events['periodo'] = events['hour'].apply(lambda x: periodioDia(x))

In [12]:
#one hot encoding
events = pd.concat([events, pd.get_dummies(events['weekday name'], prefix='weekday')],axis=1)
events = events.drop('weekday name', axis=1)
events = pd.concat([events, pd.get_dummies(events['periodo'], prefix='periodo')],axis=1)
events = events.drop('periodo', axis=1)
events = pd.concat([events, pd.get_dummies(events['month'], prefix='mes')],axis=1)
events = events.drop('month', axis=1)

events = pd.concat([events, pd.get_dummies(events['storage'], prefix='storage')],axis=1)
events = events.drop('storage', axis=1)
events = pd.concat([events, pd.get_dummies(events['condition'], prefix='condition')],axis=1)
events = events.drop('condition', axis=1)

events.head()

,timestamp,event,person,url,sku,model,color,skus,search_term,staticpage,...,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Dourado,NaN,NaN,NaN,...,1,0,0,0,0,0,0,1,0,0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Cinza espacial,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,1,0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Prateado,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,1,0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Vermelho,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Branco,NaN,NaN,NaN,...,1,0,0,0,0,0,0,1,0,0

In [13]:
events.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'color', 'skus',
       'search_term', 'staticpage', 'campaign_source', 'search_engine',
       'channel', 'new_vs_returning', 'city', 'region', 'country',
       'device_type', 'screen_resolution', 'operating_system_version',
       'browser_version', 'day', 'hora', 'hour', 'weekend', 'weekday_Friday',
       'weekday_Monday', 'weekday_Saturday', 'weekday_Sunday',
       'weekday_Thursday', 'weekday_Tuesday', 'weekday_Wednesday',
       'periodo_madrugada', 'periodo_manana', 'periodo_mediodia',
       'periodo_noche', 'periodo_tarde', 'mes_Apr', 'mes_Feb', 'mes_Jan',
       'mes_Mar', 'mes_May', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB', 'condition_Bom', 'condition_Bom - Sem Touch ID',
       'condition_Excelente', 'condition_Muito Bom', 'condition_Novo'],
      dtype='object')

In [16]:
events = events[['person',  'day', 'hora', 'hour', 'weekend', 'weekday_Friday',
       'weekday_Monday', 'weekday_Saturday', 'weekday_Sunday',
       'weekday_Thursday', 'weekday_Tuesday', 'weekday_Wednesday',
       'periodo_madrugada', 'periodo_manana', 'periodo_mediodia',
       'periodo_noche', 'periodo_tarde', 'mes_Apr', 'mes_Feb', 'mes_Jan',
       'mes_Mar', 'mes_May', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB', 'condition_Bom', 'condition_Bom - Sem Touch ID',
       'condition_Excelente', 'condition_Muito Bom', 'condition_Novo']]
events.dtypes

person                          object
day                              int64
hora                             int64
hour                             int64
weekend                          int64
weekday_Friday                   uint8
weekday_Monday                   uint8
weekday_Saturday                 uint8
weekday_Sunday                   uint8
weekday_Thursday                 uint8
weekday_Tuesday                  uint8
weekday_Wednesday                uint8
periodo_madrugada                uint8
periodo_manana                   uint8
periodo_mediodia                 uint8
periodo_noche                    uint8
periodo_tarde                    uint8
mes_Apr                          uint8
mes_Feb                          uint8
mes_Jan                          uint8
mes_Mar                          uint8
mes_May                          uint8
storage_128GB                    uint8
storage_16GB                     uint8
storage_256GB                    uint8
storage_32GB                     uint8
storage_4GB                      uint8
storage_512MB                    uint8
storage_64GB                     uint8
storage_8GB                      uint8
condition_Bom                    uint8
condition_Bom - Sem Touch ID     uint8
condition_Excelente              uint8
condition_Muito Bom              uint8
condition_Novo                   uint8
dtype: object

In [17]:
features = events.groupby('person').sum().reset_index()
features.head()

,person,day,hora,hour,weekend,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,...,storage_32GB,storage_4GB,storage_512MB,storage_64GB,storage_8GB,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo
0,0008ed71,102,86,86,0,0.0,0.0,0.0,0.0,6.0,...,2.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0
1,00091926,7496,3139,3139,163,86.0,32.0,32.0,131.0,84.0,...,132.0,0.0,0.0,80.0,0.0,102.0,0.0,108.0,163.0,1.0
2,00091a7a,260,140,140,0,0.0,10.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0
3,000ba417,4586,2786,2786,59,0.0,0.0,59.0,0.0,147.0,...,20.0,1.0,0.0,1.0,22.0,115.0,0.0,11.0,34.0,0.0
4,000c79fe,493,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [18]:
features.shape

(38829, 35)

In [12]:
features.to_csv('features_dias.csv',index=False)