In [28]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [29]:
events = pd.read_csv('events_up_to_01062018.csv',low_memory=False)
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
screen_resolution = events[['person','screen_resolution']]
screen_resolution['screen_resolution'].fillna(0,inplace=True)
screen_resolution.head()

/home/julimejliker/.local/lib/python3.6/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

     person screen_resolution
0  4886f805                 0
1  ad93850f                 0
2  0297fc1e                 0
3  2d681dd8                 0
4  cccea85e                 0

In [31]:
screen_resolution['screen_resolution'].value_counts()

0            2137615
360x640        73234
1366x768       49760
1920x1080       7948
320x534         7632
1360x768        6612
1600x900        6140
1024x768        5990
1440x900        5528
320x570         5172
320x568         4431
1280x1024       4159
1280x800        2142
1280x720        1960
375x667         1902
1536x864        1783
412x732         1700
320x480         1390
424x753         1378
320x569         1069
1280x768        1055
600x1024         788
1680x1050        739
640x360          618
768x1024         595
1024x600         579
414x736          526
480x800          490
800x1280         464
1152x864         420
              ...
1443x902           1
360x566            1
500x715            1
976x610            1
800x444            1
2000x2000          1
360x597            1
1440x720           1
1256x640           1
352x703            1
1461x913           1
1152x648           1
1842x1036          1
320x455            1
1082x2011          1
375x555            1
1082x1922          1
1160x870           1
218x62             1
360x603            1
371x659            1
1536x865           1
846x412            1
1097x617           1
1236x698           1
461x768            1
400x600            1
487x866            1
854x534            1
1080x2010          1
Name: screen_resolution, Length: 394, dtype: int64

In [32]:
def calculo(screen):
    if screen == "0":
        return 0
    screen_  = screen.split('x')
#     print(int(screen_[0]))
    return int(screen_[0])*int(screen_[1])

screen_resolution['calculos_resolution'] = screen_resolution['screen_resolution'].map(lambda x: int(calculo(str(x))))
screen_resolution = screen_resolution[['person','calculos_resolution']]
screen_resolution.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     person  calculos_resolution
0  4886f805                    0
1  ad93850f                    0
2  0297fc1e                    0
3  2d681dd8                    0
4  cccea85e                    0

In [33]:
screen_resolution = screen_resolution.groupby('person')['calculos_resolution'].agg({'suma_resolution':sum,'promedio_resolution':'mean','maximo_resolution':max,'minimo_resolution':min})
screen_resolution.reset_index(inplace=True)
screen_resolution.head()

,person,suma_resolution,promedio_resolution,maximo_resolution,minimo_resolution
0,0008ed71,4147200,691200.000000,2073600,0
1,00091926,26738688,59684.571429,786432,0
2,00091a7a,230400,23040.000000,230400,0
3,000ba417,4718592,22905.786408,786432,0
4,000c79fe,230400,13552.941176,230400,0

In [34]:
screen_resolution.to_csv('features_screen_resolution.csv',index=False)