In [9]:
# imports iniciales
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [10]:
events = pd.read_csv('events_up_to_01062018.csv',low_memory=False)
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
feature = events[['person','timestamp']]
feature.head()

     person            timestamp
0  4886f805  2018-05-18 00:11:59
1  ad93850f  2018-05-18 00:11:27
2  0297fc1e  2018-05-18 00:11:16
3  2d681dd8  2018-05-18 00:11:14
4  cccea85e  2018-05-18 00:11:09

In [12]:
def devolver_int(fecha):
    numero = ''
    for x in fecha:
        if x.isdigit():
            numero = numero + x
    return numero

# feature['fecha_int'] = events['timestamp']
feature['fecha_int'] = feature['timestamp'].map(lambda x: int(devolver_int(str(x))))
feature.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

     person            timestamp       fecha_int
0  4886f805  2018-05-18 00:11:59  20180518001159
1  ad93850f  2018-05-18 00:11:27  20180518001127
2  0297fc1e  2018-05-18 00:11:16  20180518001116
3  2d681dd8  2018-05-18 00:11:14  20180518001114
4  cccea85e  2018-05-18 00:11:09  20180518001109

In [13]:
feature = feature.groupby('person')['fecha_int'].agg({'suma':sum,'promedio':'mean','maximo':max,'minimo':min})
feature.reset_index(inplace=True)

In [14]:
feature.to_csv('features_fechas_int.csv',index=False)