In [39]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [40]:
usuarios = pd.read_csv('events_up_to_01062018.csv',low_memory=False)
training = pd.read_csv('labels_training_set.csv',low_memory=False)

In [41]:
usuarios['timestamp'] = pd.to_datetime(usuarios['timestamp'], errors = 'coerce', format= '%Y-%m-%d')
usuarios['event'] = pd.Categorical(usuarios['event'])
usuarios['url'] = pd.Categorical(usuarios['url'])
usuarios['model'] = pd.Categorical(usuarios['model'])
usuarios['condition'] = pd.Categorical(usuarios['condition'])
usuarios['storage'] = pd.Categorical(usuarios['storage'])
usuarios['color'] = pd.Categorical(usuarios['color'])
usuarios['staticpage'] = pd.Categorical(usuarios['staticpage'])
usuarios['campaign_source'] = pd.Categorical(usuarios['campaign_source'])
usuarios['search_engine'] = pd.Categorical(usuarios['search_engine'])
usuarios['channel'] = pd.Categorical(usuarios['channel'])
usuarios['new_vs_returning'] = pd.Categorical(usuarios['new_vs_returning'])
usuarios['city'] = pd.Categorical(usuarios['city'])
usuarios['region'] = pd.Categorical(usuarios['region'])
usuarios['country'] = pd.Categorical(usuarios['country'])
usuarios['device_type'] = pd.Categorical(usuarios['device_type'])
usuarios['screen_resolution'] = pd.Categorical(usuarios['screen_resolution'])
usuarios['operating_system_version'] = pd.Categorical(usuarios['operating_system_version'])
usuarios['browser_version'] = pd.Categorical(usuarios['browser_version'])
usuarios['month'] = usuarios['timestamp'].dt.month
usuarios['day'] = usuarios['timestamp'].dt.day
usuarios['hora'] = usuarios['timestamp'].dt.hour

In [42]:
set_entrenamiento = pd.merge(eventos,training, on = 'person',how = 'right')
set_entrenamiento.head(3)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label
0,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018-05-18 00:23:33,viewed product,ad93850f,NaN,318.0,iPhone 5s,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2018-05-18 00:16:10,viewed product,ad93850f,NaN,5907.0,iPhone 5s,Bom - Sem Touch ID,16GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [43]:
set_entrenamiento['label'].mean()

0.08506288154308525

In [44]:
set_entrenamiento['label'].value_counts()

0    1072202
1      99684
Name: label, dtype: int64

In [45]:
print(len(training[training['label'] == 0]))
print(len(training[training['label'] == 1]))

18434
980

In [46]:
#Vemos que la cantidad de labels en 0 es muy superior a los 1. 
#Para balancear el set elegiremos 980 usuarios de los que tienen label 0

In [47]:
set_reducido_0 = training[training['label'] == 0].sample(n=980)
set_entrenamiento = training[training['label'] == 1].append(set_reducido_0)
set_entrenamiento.shape

(1960, 2)

In [48]:
set_entrenamiento.head()

      person  label
5   db2c4d27      1
25  8123457d      1
46  e4b02ea2      1
48  d8001b23      1
54  7a472832      1

In [49]:
set_entrenamiento.describe()

             label
count  1960.000000
mean      0.500000
std       0.500128
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [50]:
set_entrenamiento.to_csv('../modelos/set_entrenamiento.csv',index=False)